body
{
	padding-left:20px;
	padding-right:20px;
	font-size:12pt;
	font-weight:normal;
	font-family: Arial,sans-serif;
}
p
{
	font-size:12pt;
	font-weight:normal;
	font-family: Arial,sans-serif;
}
.h4
{
	color:	 purple;
	font-size:12pt;
	font-weight:bold;
}
h1
{
	color:#660099;
	font-size:18pt;
	font-weight:bold;
	padding-top:20px;
}
h2
{
	color:#660099;
	text-align:center;
	font-size:2.2em;
	padding-top:0;
}
h3
{
	font-size:1.5em;
	color: #660099;
	line-height:140%;
	text-align:center;}
h5
{
	color:purple;
	padding-left: 10px;
}
h6
{
	text-align:center;
}
.listening
{	
	color:#660099;
	font-size:18pt;
	font-weight:bold;
	padding-top:40px;
}	
.description 
{
	font-size:12pt;
	margin: 5px 0 5px 0;
	padding-left: 10px;		
	padding-right: 10px;
}
.description em 
{
	color:purple;
	font-weight: bold;
}
.picCenter
{
	display: 	block;
	margin-right: auto;
	margin-left: auto;
}
#nav 
{
	position:absolute;
	left:10px;
	top:120px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin: 0 0 3em;
	width: 100%;
	list-style-type: none;
	List-style-image: none;
	list-style-position: outside;
	background-color: #660099;
}
#nav li 
{
	float: left;
	padding-right: 5px;
}
#nav li a 
{
  border-right: 1px solid #cccccc;
  padding: 8px 15px;
  display: block;
  text-decoration: none;
  font-size: 12pt;
  font-weight: 	NORMAL;
  color: #ffffff;
}
#nav li a:hover {
  color: #660066;
  background-color: #ffffff;
}
#helpline {
 font-weight: bold;
font-family: sans-serif;
font-size:1em
}
#helpline em 
{
	font-weight: bold;
	color:purple;
	font-style: normal;
}
#hide 
{
	float: right;
	background-color: red;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 20px;  
	text-shadow: 2px 2px 1px black;
	box-shadow: 8px 8px 15px black;
}
#hide a 
{
	text-shadow: 2px 2px 1px black;
	color:white;
}
.hide
{
	color:red !important;
}
#main
{
	float: left;
	margin: 10px;
}
.image 
{
	float: left;
	margin: 10px;
}
#left
{
	float: left;
	border-width: 1px;
	border-style: solid;
	border-color: purple;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 55px;
	padding-bottom:3cm;
}
#left a 
{
  color: #660099;
}
#picture
{
	padding: 10px;
	text-align: center;
}
.info
{
	text-align: center;
	color: #339933
}
#footer
{
	float: left;
	bottom: 0;
	padding-right: 5px;
	padding-left: 5px;
}
.purpletext
{
	font-weight:bold;
	color:purple;
}
.greentext
{
	font-weight:bold;
	color:green;
}
.brclear
{
	clear:both;
}
ul.disc 
{
	list-style-type: disc;}
ul.circle
{
	list-style-type: circle;}
ul.square 
{
	list-style-type: square;
}